In [1]:
import pandas as pd

In [2]:
games = pd.read_csv("games.csv")
games.head(10)

,gameId,creationTime,gameDuration,seasonId,winner,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,...,t2_towerKills,t2_inhibitorKills,t2_baronKills,t2_dragonKills,t2_riftHeraldKills,t2_ban1,t2_ban2,t2_ban3,t2_ban4,t2_ban5
0,3326086514,1504279457970,1949,9,1,2,1,1,1,1,...,5,0,0,1,1,114,67,43,16,51
1,3229566029,1497848803862,1851,9,1,1,1,1,0,1,...,2,0,0,0,0,11,67,238,51,420
2,3327363504,1504360103310,1493,9,1,2,1,1,1,2,...,2,0,0,1,0,157,238,121,57,28
3,3326856598,1504348503996,1758,9,1,1,1,1,1,1,...,0,0,0,0,0,164,18,141,40,51
4,3330080762,1504554410899,2094,9,1,2,1,1,1,1,...,3,0,0,1,0,86,11,201,122,18
5,3287435705,1501667992132,2059,9,1,2,2,1,1,2,...,6,0,0,3,0,119,134,154,63,31
6,3314215542,1503430065724,1993,9,1,1,2,1,1,1,...,2,0,0,0,0,75,42,31,40,429
7,3329224025,1504472363684,1334,9,1,1,1,0,0,2,...,0,0,0,2,0,157,38,122,40,238
8,3318040883,1503686577549,1387,9,2,2,2,2,0,2,...,8,1,0,2,1,28,51,53,157,40
9,3327786881,1504385918871,2681,9,2,2,2,2,2,2,...,8,3,1,2,0,64,141,84,67,53

In [6]:
champ_old = pd.read_csv("champion_info.csv")
champ_old.head(10)

            key      type  id                     title          name version
0         Annie  champion   1            the Dark Child         Annie  7.17.2
1          Olaf  champion   2             the Berserker          Olaf  7.17.2
2         Galio  champion   3              the Colossus         Galio  7.17.2
3   TwistedFate  champion   4           the Card Master  Twisted Fate  7.17.2
4       XinZhao  champion   5  the Seneschal of Demacia      Xin Zhao  7.17.2
5         Urgot  champion   6           the Dreadnought         Urgot  7.17.2
6       Leblanc  champion   7              the Deceiver       LeBlanc  7.17.2
7      Vladimir  champion   8        the Crimson Reaper      Vladimir  7.17.2
8  Fiddlesticks  champion   9     the Harbinger of Doom  Fiddlesticks  7.17.2
9         Kayle  champion  10             The Judicator         Kayle  7.17.2

In [13]:
champ_new = pd.read_csv("champion_info_2.csv")
champ_new.drop(champ_new.index[0], inplace=True)
champ_new.reset_index(drop=True, inplace=True)
champ_new.head(10)

,version,title,name,id,key,type
0,7.18.1,the Monkey King,Wukong,62,MonkeyKing,champion
1,7.18.1,Grandmaster at Arms,Jax,24,Jax,champion
2,7.18.1,the Harbinger of Doom,Fiddlesticks,9,Fiddlesticks,champion
3,7.18.1,the Demon Jester,Shaco,35,Shaco,champion
4,7.18.1,the Uncaged Wrath of Zaun,Warwick,19,Warwick,champion
5,7.18.1,the Rebel,Xayah,498,Xayah,champion
6,7.18.1,the Bestial Huntress,Nidalee,76,Nidalee,champion
7,7.18.1,Rise of the Thorns,Zyra,143,Zyra,champion
8,7.18.1,the Cantankerous Cavalier,Kled,240,Kled,champion
9,7.18.1,the Burning Vengeance,Brand,63,Brand,champion

In [14]:
games.columns

Index(['gameId', 'creationTime', 'gameDuration', 'seasonId', 'winner',
       'firstBlood', 'firstTower', 'firstInhibitor', 'firstBaron',
       'firstDragon', 'firstRiftHerald', 't1_champ1id', 't1_champ1_sum1',
       't1_champ1_sum2', 't1_champ2id', 't1_champ2_sum1', 't1_champ2_sum2',
       't1_champ3id', 't1_champ3_sum1', 't1_champ3_sum2', 't1_champ4id',
       't1_champ4_sum1', 't1_champ4_sum2', 't1_champ5id', 't1_champ5_sum1',
       't1_champ5_sum2', 't1_towerKills', 't1_inhibitorKills', 't1_baronKills',
       't1_dragonKills', 't1_riftHeraldKills', 't1_ban1', 't1_ban2', 't1_ban3',
       't1_ban4', 't1_ban5', 't2_champ1id', 't2_champ1_sum1', 't2_champ1_sum2',
       't2_champ2id', 't2_champ2_sum1', 't2_champ2_sum2', 't2_champ3id',
       't2_champ3_sum1', 't2_champ3_sum2', 't2_champ4id', 't2_champ4_sum1',
       't2_champ4_sum2', 't2_champ5id', 't2_champ5_sum1', 't2_champ5_sum2',
       't2_towerKills', 't2_inhibitorKills', 't2_baronKills', 't2_dragonKills',
       't2_riftHeraldKills', 't2_ban1', 't2_ban2', 't2_ban3', 't2_ban4',
       't2_ban5'],
      dtype='object')

In [16]:
games.shape

(51490, 61)